*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:linear-gradient(135deg,#667eea,#764ba2);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
}

.container{
background:rgba(255,255,255,0.1);
backdrop-filter:blur(10px);
padding:25px;
border-radius:20px;
width:420px;
}

.stats{
display:flex;
justify-content:space-between;
margin:10px 0;
}

.progress-bar{
height:8px;
background:#ffffff33;
border-radius:10px;
margin-bottom:10px;
}

.progress{
height:100%;
background:#00ffcc;
width:0%;
border-radius:10px;
}

.input-section{
display:flex;
gap:5px;
margin-bottom:10px;
}

input{
flex:1;
padding:10px;
border:none;
border-radius:10px;
}

button{
padding:8px;
border:none;
border-radius:8px;
background:#00ffcc;
cursor:pointer;
}

ul{
list-style:none;
}

li{
background:#ffffff22;
margin:6px 0;
padding:10px;
border-radius:10px;
display:flex;
flex-direction:column;
}

.selected{
outline:2px solid #00ffcc;
}

.task-top{
display:flex;
justify-content:space-between;
}

.completed{
text-decoration:line-through;
opacity:.6;
}

.actions span{
margin-left:5px;
padding:4px 6px;
border-radius:5px;
cursor:pointer;
}

.edit{background:orange;}
.delete{background:red;}

.timer{
font-size:12px;
margin-top:5px;
display:flex;
gap:5px;
}